/* 渐变动画 */
@keyframes animation-text {
  0% {
    -webkit-background-position: 0% 50%;
    background-position: 0% 50%;
  }
  50% {
    -webkit-background-position: 100% 50%;
    background-position: 100% 50%;
  }
  100% {
    -webkit-background-position: 0% 50%;
    background-position: 0% 50%;
  }
}

/* Color Base */
:root {
  --vp-c-gray-1: #252422;
  --vp-c-gray-2: #656d4a;
  --vp-c-gray-3: #6c757d;

  --vp-c-blue-1: #f8f9fa;
  --vp-c-blue-2: #656d4a;
  --vp-c-blue-3: #ced4da;

  /* 设置字体颜色 */
  /* --vp-home-hero-name-color: transparent; */
  /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff); */
  /* 设置右图像渐变 */

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #ffcb47,
    #e34ba9,
    #369eff,
    #95f3d9
  );
  --vp-home-hero-image-filter: blur(150px);
  --vp-home-hero-image-animation: 5s animation-text 5s ease infinite;
}

/* Color Theme */
:root {
  --vp-c-brand-1: var(--vp-c-gray-1);
  --vp-c-brand-2: var(--vp-c-gray-2);
  --vp-c-brand-3: var(--vp-c-gray-3);
}

.dark {
  --vp-c-brand-1: var(--vp-c-blue-1);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-3);
}

@font-face {
  font-family: "xht";
  src: url("../../assets/font/字制区喜脉喜欢体.ttf");
}

@font-face {
  font-family: "KNMaiyuan";
  src: url("../../assets/font/KNMaiyuan-Regular.ttf");
}

@font-face {
  font-family: "JNJJ";
  src: url("../../assets/font/荆南俊俊体.otf");
}

html,
body {
  font-family: "KNMaiyuan";
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #8051e0;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.aside-content nav {
  overflow-y: scroll;
  max-height: 85vh;
  --sb-track-color: #232e33;
  --sb-thumb-color: #616064;
  --sb-size: 5px;
}

.aside-content nav::-webkit-scrollbar {
  width: var(--sb-size);
}

.aside-content nav::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.aside-content nav::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

.VPNavBarTitle .logo {
  height: 14px;
  margin-top: 2px;
  opacity: 0.8;
}

.vp-doc p {
  color: #6c757d;
}

/** 磨砂玻璃效果设置 */
.VPNavBar {
  background-color: transparent !important;
}
.VPNav .content .content-body {
  backdrop-filter: blur(36px);
  background-color: linear-gradient(
    to bottom,
    rgba(var(--vp-nav-bg-color), 0.98),
    rgba(var(--vp-nav-bg-color), 0.6)
  ) !important;
}

.VPLocalNav,
.VPLocalNav .container {
  backdrop-filter: blur(36px);
  background-color: linear-gradient(
    to bottom,
    rgba(var(--vp-nav-bg-color), 0.6),
    rgba(var(--vp-nav-bg-color), 0.4)
  ) !important;
}

.VPLocalNav,
.has-aside .container {
  backdrop-filter: none;
  background-color: none !important;
}

.VPNavBarMenuLink.active {
  color: var(--vp-c-gray-2) !important;
}
