/* color vars: https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* purple brand color: https://coolors.co/palette/dec9e9-dac3e8-d2b7e5-c19ee0-b185db-a06cd5-9163cb-815ac0-7251b5-6247aa */

@keyframes animation-text {
  0% {
    -webkit-background-position: 0% 50%;
    background-position: 0% 50%;
  }
  50% {
    -webkit-background-position: 100% 50%;
    background-position: 100% 50%;
  }
  100% {
    -webkit-background-position: 0% 50%;
    background-position: 0% 50%;
  }
}

/* Color Base */
:root {
  --vp-c-purple: #9d4edd !important;
  --vp-c-purple-light: #9d4edd !important;
  --vp-c-purple-lighter: #c77dff !important;
  --vp-c-purple-dark: #7b2cbf !important;
  --vp-c-purple-darker: #5a189a !important;

  /* 设置字体颜色 */
  /* --vp-home-hero-name-color: transparent; */
  /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff); */
  /* 设置右图像渐变 */

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #ffcb47,
    #e34ba9,
    #369eff,
    #95f3d9
  );
  --vp-home-hero-image-filter: blur(150px);
  --vp-home-hero-image-animation: 5s animation-text 5s ease infinite;
}

/* Color Theme */
:root {
  --vp-c-brand: var(--vp-c-purple);
  --vp-c-brand-light: var(--vp-c-purple-light);
  --vp-c-brand-lighter: var(--vp-c-purple-lighter);
  --vp-c-brand-dark: var(--vp-c-purple-dark);
  --vp-c-brand-darker: var(--vp-c-purple-darker);
}

@font-face {
  font-family: "JY";
  src: url("../../assets/font/江城圆体 400W.ttf");
}

@font-face {
  font-family: "xht";
  src: url("../../assets/font/字制区喜脉喜欢体.ttf");
}

@font-face {
  font-family: "maoken";
  src: url("../../assets/font/MaokenAssortedSans-Lite.ttf");
}

@font-face {
  font-family: "NotoSansSC";
  src: url("../../assets/font/NotoSansSC-Regular.woff2");
}

@font-face {
  font-family: "Atkinson";
  src: url("../../assets/font/Atkinson-Hyperlegible-Regular-102a.woff2");
}

html,
body {
  font-family: "NotoSansSC";
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #8051e0;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.VPDocAsideCarbonAds {
  display: none;
}

.aside-content nav {
  overflow-y: scroll;
  max-height: 85vh;
  --sb-track-color: #232e33;
  --sb-thumb-color: #616064;
  --sb-size: 5px;
}

.aside-content nav::-webkit-scrollbar {
  width: var(--sb-size);
}

.aside-content nav::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

.aside-content nav::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}
